.App {
  text-align: center;
  min-width:700px;

}

.cityForm{
  width:700px;
  margin: 0 auto;
}

.error{
  color: red;
}

@media only screen and (min-width: 600px) {

  .App{
    min-width:670px;
  }
}
